<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/compiler.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/line-counter.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/share.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="navbar">
      <div class="content">
        <div class="icon"><label><img src="/ejs/img/CompanyLogo.png" width="100px"></label></div>
        <div class="logo"><a href="/home">CodeHub</a></div>
        <div class="list">
            <ul class="menu-list">
              <li><a href="/home">Home</a></li>
              <li><a href="/compiler">Compile</a></li>
              <li><a href="/share">Share</a></li>
              <li><a href="/practice">Practice</a></li>
            </ul>
        </div>
        <%if(isLogin!=true){%>
          <div class="signup-login login-btn">
            <a href="/login"><button>Login</button></a>
          </div>
        <%}else{%>
          <div class="signup-login logout-btn">
            <form action="/logout" method="POST"><button>Logout</button></form>
          </div>
        <%}%>
      </div>
    </div>
    <hr>
    <hr>
    <div class="content-box">
      <div class="lang-box">
        <div class="language"><button id="python2" class="button-29" role="button">Python</button></div>
        <div class="language"><button id="c" class="button-29" role="button">C</button></div>
        <div class="language"><button id="cpp14" class="button-29" role="button">C++</button></div>
        <div class="language"><button id="java" class="button-29" role="button">Java</button></i></div>
        <div class="language"><button id="php" class="button-29" role="button">PHP</button></div>
        <div id="download"><button class="downloadBtn" role="button"><i class="fa fa-download"></i> Download</button></div>
        <div id="download"><button class="downloadBtn saveInbox" role="button"><i class="fas fa-save"></i> Save at Inbox</button></div>
      </div>
      <div class="compiler-box">
        <div class="compiler-header">
          <div class="compiler-files">
            <div class="file">c</div>
          </div>
          <div class="compiler-btn">
            <button id="resetBtn" class="button-25" role="button">Reset</button>
            <button id="copyBtn" class="button-25" role="button">Copy</button>
            <button id="runBtn" class="button-25" role="button">Run</button>
          </div>
        </div>
        <div id="test">
          <textarea id='lineCounter' wrap='off' readonly>1.</textarea>
          <textarea id='codeEditor' wrap='off' name="codeText">
          </textarea>
        </div>
      </div>
    </div>
    <hr>
    <div class="result">
      <div class="input-box">
        <div><textarea name="field-input" id="field-input" cols="40" rows="10" placeholder="Input Goes here" id="field-input"></textarea></div>
        <div><button id="input-copy">Copy</button></div>
      </div>
      <div class="output-box">
        <div><textarea name="field-output" id="field-output" cols="40" rows="10" placeholder="Output Goes here" id="field-output"></textarea></div>
        <div><button id="output-copy">Copy</button></div>
      </div>

  </body>
  <script src="/js/compiler.js"></script>
  <script src="/js/line-counter.js"></script>
  <script src="/js/download.js"></script>
</html>
