<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/compiler.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/line-counter.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/share.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="navbar">
      <div class="content">
        <div class="icon"><label><img src="/ejs/img/CompanyLogo.png" width="100px"></label></div>
        <div class="logo"><a href="/home">CodeHub</a></div>
        <div class="list">
            <ul class="menu-list">
              <li><a href="/home">Home</a></li>
              <li><a href="/compiler">Compile</a></li>
              <li><a href="/share">Share</a></li>
              <li><a href="/practice">Practice</a></li>
            </ul>
        </div>
        <%if(isLogin!=true){%>
          <div class="signup-login login-btn">
            <a href="/login"><button>Login</button></a>
          </div>
        <%}else{%>
          <div class="signup-login logout-btn">
            <form action="/logout" method="POST"><button>Logout</button></form>
          </div>
        <%}%>
      </div>
    </div>
    <hr>
    <hr>
    <!-- html for pop up -->
    <div class="contents">
      <div class="headerOfPop">
          <h2>Attention!</h2>
          <label for="click" class="fas fa-times"></label>
      </div>
      <label for="click" class="fas fa-check"></label>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, voluptatem.</p>
      <div class="line"></div>
      <label for="click" class="close-btn">Close</label>
  </div>
  <!-- ends here -->
    <div class="content-box">
      <div class="lang-box">
        <div class="language"><button id="python2" class="button-29" role="button">Python</button></div>
        <div class="language"><button id="c" class="button-29" role="button">C</button></div>
        <div class="language"><button id="cpp14" class="button-29" role="button">C++</button></div>
        <div class="language"><button id="java" class="button-29" role="button">Java</button></i></div>
        <div class="language"><button id="php" class="button-29" role="button">PHP</button></div>
        <div id="download"><button class="downloadBtn" role="button"><i class="fa fa-download"></i> Download</button></div>
        <div id="saving"><button class="downloadBtn saveInbox" role="button"><i class="fas fa-save"></i> Save at Inbox</button></div>
      </div>
      <div class="compiler-box">
        <div class="compiler-header">
          <div class="compiler-files">
            <div class="file">c</div>
          </div>
          <div class="compiler-btn">
            <button id="resetBtn" class="button-25" role="button">Reset</button>
            <button id="copyBtn" class="button-25" role="button">Copy</button>
            <button id="runBtn" class="button-25" role="button">Run</button>
          </div>
        </div>
        <div id="test">
          <textarea id='lineCounter' wrap='off' readonly>1.</textarea>
          <textarea id='codeEditor' wrap='off' name="codeText">
          </textarea>
        </div>
      </div>
    </div>
    <hr>
    <div class="result">
      <div class="input-box">
        <div><textarea name="field-input" id="field-input" cols="40" rows="10" placeholder="Input Goes here" id="field-input"></textarea></div>
        <div><button id="input-copy">Copy</button></div>
      </div>
      <div class="output-box">
        <div><textarea name="field-output" id="field-output" cols="40" rows="10" placeholder="Output Goes here" id="field-output"></textarea></div>
        <div><button id="output-copy">Copy</button></div>
      </div>
    </div>
    <br><br>
      <footer class="footer">
        <div class="container bottom_border">
          <div class="row">
            <div class="col-sm-4 col-md col-sm-4 col-12 col">
              <h5 class="headin5_amrc col_white_amrc pt2">About us</h5>
              <!--headin5_amrc-->
              <p class="mb10" style="text-align: left;">
                CodeHub is a code sharing and code compiling website. It also has practice section where you can track your progress.
              </p>
              <p style="text-align: left;"><i class="fa fa-location-arrow"></i>Delhi, India</p>
              <p style="text-align: left;"><i class="fa fa-phone"></i> 93XXXXXXXX</p>
              <p style="text-align: left;"><i class="fa fa fa-envelope"></i> XXtuhinXX@gmail.com</p>
            </div>
  
            <div class="col-sm-4 col-md col-6 col">
              <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
              <!--headin5_amrc-->
              <ul class="footer_ul_amrc">
                <li><a href="/home">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="http://webenlance.com">About me</a></li>
                <li><a href="http://webenlance.com">Documentation</a></li>
                <li><a href="http://webenlance.com">Next Project</a></li>
              </ul>
              <!--footer_ul_amrc ends here-->
            </div>
  
            <div class="col-sm-4 col-md col-12 col" id="title-header">
              <!--headin5_amrc ends here-->
              <h2><a href="/home" class="footer-title">CodeHub</a></h2>
              <!--footer_ul2_amrc ends here-->
            </div>
          </div>
        </div>
  
        <div class="container">
          <ul class="foote_bottom_ul_amrc">
            <li><a href="/home">Home</a></li>
            <li><a href="/compile">Compile</a></li>
            <li><a href="/share">Share</a></li>
            <li><a href="/practice">Practice</a></li>
          </ul>
          <!--foote_bottom_ul_amrc ends here-->
          <p class="text-center">
            Copyright <i class="fa fa-copyright" aria-hidden="true"></i> | Made by Tuhin saha
          </p>
  
          <!--social_footer_ul ends here-->
        </div>
      </footer>
  </body>
  <script src="/js/compiler.js"></script>
  <script src="/js/line-counter.js"></script>
  <script src="/js/download.js"></script>
</html>
