<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
  <link rel="icon" href="/ejs/icon/logo.png">

    <link rel="stylesheet" href="css/documentation.css">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cutive&display=swap" rel="stylesheet">
</head>
<body>
    <div class="center">
        <div class="images">
            <div class="slide"><img src="ejs/photos/img1.jpg"></div>
            <div class="slide"><img src="ejs/photos/img2.jpg"></div>
            <div class="slide"><img src="ejs/photos/img3.jpg"></div>
            <div class="slide"><img src="ejs/photos/img4.jpg"></div>
            <div class="slide"><img src="ejs/photos/img5.jpg"></div>
        </div>
        <div class="buttons">
            <a href="#" class="btn1 active"></a>
            <a href="#" class="btn2"></a>
            <a href="#" class="btn3"></a>
            <a href="#" class="btn4"></a>
            <a href="#" class="btn5"></a>
        </div>
    </div>
    <br><br>
    <div class="techstack-container bordered-box">
        <h1 class="header">Tech-Stack</h1>
        <div class="language">
            <img src="ejs/logo/img2.jpg">
            <img src="ejs/logo/img3.jpg">
            <img src="ejs/logo/img4.jpg">
            <img src="ejs/logo/img5.jpg">
            <img src="ejs/logo/img6.jpg">
            <img src="ejs/logo/img7.jpg">
            <img src="ejs/logo/img1.jpg">
        </div>
    </div>
    <br><br>
    <div class="guide-container">
        <div class="compile-guide guide">
            <h2>Compiler-Guide</h2>
            <ul>
                <li>This compiler permit us to run our code in 5 different languages i.e C, C++, Python, Java, PHP.</li>
                <li>We can download our code in text format</li>
                <li>We can save our code in Mail Inbox</li>
                <li>The Compilation API only accepts 200 request per day. So please minimize the usage of compilation.</li>
            </ul>
        </div>
        <div class="inbox-guide guide">
            <h2>Inbox-Guide</h2>
            <ul>
                <li>You can only save 5 Inbox mail.</li>
                <li>If you are sending a mail to a person who has already full inbox then the respective message will not be delivered to his/her account and vice-versa.</li>
            </ul>
        </div>
        <div class="practice-guide guide">
            <h2>Practice-Guide</h2>
            <ul>
                <li>I have web-scrapped some of the questions from <b>Codeforces</b> website</li>
                <li>There you can track your progress also.</li>
            </ul>
        </div>
    </div>
    <br><br>
    <footer class="footer">
        <div class="container-footer">
          <div class="upper-part">
            <div class="about-section">
              <h5 class="headin5_amrc col_white_amrc pt2">About us</h5>
              <!--headin5_amrc-->
              <p class="mb10" style="text-align: left;">
                CodeHub is a code sharing and code compiling website. It also has practice section where you can track your
                progress.
              </p>
              <p style="text-align: left;"><i class="fa fa-location-arrow"></i>Delhi, India</p>
              <p style="text-align: left;"><i class="fa fa-phone"></i> 93XXXXXXXX</p>
              <p style="text-align: left;"><i class="fa fa fa-envelope"></i> XXtuhinXX@gmail.com</p>
            </div>
    
            <div class="link-section">
              <h5>Quick links</h5>
              <ul class="links-list">
                <li><a href="/home">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/documentation">Documentation</a></li>
              </ul>
            </div>
    
            <div class="title-section" id="title-header">
            <a href="/home" class="footer-title"><img src="ejs/icon/logo.png" width="300px" height="200px" style="margin: auto;"></a>

            </div>
          </div>
    
          <div class="lower-part">
          <p class="text-center" style="color: white;">
            Copyright <i class="fa fa-copyright" aria-hidden="true"></i> | Made by Tuhin saha
          </p>
          </div>
        </div>
      </footer>
</body>
<script src="js/documentation.js"></script>
</html>
