<%-include('./partial/header.ejs')%>
    <hr>
    <hr>
    <div class="quote-wrapper">
        <%if(qoutes.length>0){%>
            <%var randNum=Math.floor(Math.random()*16)%>
                <div class="quote-heading">Quote of the Day</div>
                <div class="quote-body">
                    <i class="fa-solid fa-quote-left"></i>
                    <span class="quote-text"><%=qoutes[randNum].qouteBody%></span>
                    <i class="fa-solid fa-quote-right"></i>
                    <br>
                    <span class="quote-writer">-<%=qoutes[randNum].qouteWriter%></span>
                </div>
                <div class="quote-button">
                    <div class="quote-operation">
                        <i class="fas fa-volume-up volume"></i>
                        <i class="fas fa-clipboard clipboard"></i>
                    </div>
                    <div class="quote-change">
                        <button id="new-qoute">New Quote</button>
                    </div>
                </div>
                <%}else{%>
                    <h1>Error in fetching</h1>
                    <p>This error may be occured due to network issue</p>
                    <%}%>
    </div>
    <h1 class="services-header">Our Services</h1>
    <div class="wrapper">
        <div class="box" id="compiler">
            <div class="front-face">
                <div class="icon"><i class="fa-solid fa-code"></i></div>
                <span>Compiler</span>
            </div>
            <div class="back-side">
                <span>Compile</span>
                <p>You can compile your here wihtout login as well, and along with that we also offer you to download
                    and share you codes to other</p>
            </div>
        </div>
        <div class="box" id="share">
            <div class="front-face">
                <div class="icon"><i class="fa-sharp fa-solid fa-share"></i></div>
                <span>Share</span>
            </div>
            <div class="back-side">
                <span>Share</span>
                <p>Share your code to other, you just have to remember the userId of the other person to do so. You have
                    to be logged in for that.</p>
            </div>
        </div>
        <div class="box" id="practice">
            <div class="front-face">
                <div class="icon"><i class="fa-solid fa-chart-line"></i></div>
                <span>Practice</span>
            </div>
            <div class="back-side">
                <span>Practice</span>
                <p>We also offer you quality questions fetched from the pretigious coding sites as per difficulty level
                    (easy,medium and hard)</p>
            </div>
        </div>
    </div>
    </div>
    <br><br><br><br>
    <h1 class="services-header">About me</h1>
    <div class="wrapper-about">
        <div class="image">
            <img src="../ejs/img/profile-photo.jpeg" height="300px">
        </div>
        <div class="about-content">
            <div class="about-text">
                <div class="header">
                    <h2 class="header-text">I'm a </h2>
                    <p>
                        Hello, I am the developer of this site. I am currently pursuing computer science enginerring at Jadavpur University (BCSE-25). This website is basically makes your coding daily culture better. You can compile, share and also pracitce here, To know more about the tech stack Follow this link <a href="">link</a>
                    </p>
                </div>
            </div>
            <div class="logo">
                <a href="https://www.linkedin.com/in/tuhin-saha-6568a2247/" target="_blank"><img src="../ejs/img/linkedin.png" height="40px" id="linked-logo"></a>
                <a href="https://github.com/Tsaha11" target="_blank"><img src="../ejs/img/github.png" height="40px" id="github-logo"></a>
                <a href="https://codeforces.com/profile/T_saha11" target="_blank"><img src="../ejs/img/codeforces.png" height="40px" id="codeforces-logo"></a>
                <a href="https://leetcode.com/tuhin11/" target="_blank"><img src="../ejs/img/leetcode.png" height="40px" id="leetcode-logo"></a>
            </div> 
        </div>
    </div>
    </body>
    <script src="js/home.js"></script>
    </html>