<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%=title%>
  </title>
  <link rel="stylesheet" href="/css/compiler.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/line-counter.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/share.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="navbar">
    <div class="content">
      <div class="icon"><label><img src="/ejs/img/CompanyLogo.png" width="100px"></label></div>
      <div class="logo"><a href="/home">CodeHub</a></div>
      <div class="list">
        <ul class="menu-list">
          <li><a href="/home">Home</a></li>
          <li><a href="/compiler">Compile</a></li>
          <li><a href="/share">Share</a></li>
          <li><a href="/practice">Practice</a></li>
        </ul>
      </div>
      <%if(isLogin!=true){%>
        <div class="signup-login login-btn">
          <a href="/login"><button>Login</button></a>
        </div>
        <%}else{%>
          <div class="signup-login logout-btn">
            <label class="email"><%=user%></label>
            <form action="/logout" method="POST"><button>Logout</button></form>
          </div>
          <%}%>
    </div>
  </div>
  <hr>
  <hr>
  <div class="quote-wrapper">
    <%if(qoutes.length>0){%>
      <%var randNum=Math.floor(Math.random()*16)%>
        <div class="quote-heading">Quote of the Day</div>
        <div class="quote-body">
          <i class="fa-solid fa-quote-left"></i>
          <span class="quote-text">
            <%=qoutes[randNum].qouteBody%>
          </span>
          <i class="fa-solid fa-quote-right"></i>
          <br>
          <span class="quote-writer">-<%=qoutes[randNum].qouteWriter%></span>
        </div>
        <div class="quote-button">
          <div class="quote-operation">
            <i class="fas fa-volume-up volume"></i>
            <i class="fas fa-clipboard clipboard"></i>
          </div>
          <div class="quote-change">
            <button id="new-qoute">New Quote</button>
          </div>
        </div>
        <%}else{%>
          <h1>Error in fetching</h1>
          <p>This error may be occured due to network issue</p>
          <%}%>
  </div>
  <h1 class="services-header">Our Services</h1>
  <div class="wrapper">
    <div class="box" id="compiler">
      <div class="front-face">
        <div class="icon"><i class="fa-solid fa-code"></i></div>
        <span>Compiler</span>
      </div>
      <div class="back-side">
        <span>Compile</span>
        <p>You can compile your here wihtout login as well, and along with that we also offer you to download
          and share you codes to other</p>
      </div>
    </div>
    <div class="box" id="share">
      <div class="front-face">
        <div class="icon"><i class="fa-sharp fa-solid fa-share"></i></div>
        <span>Share</span>
      </div>
      <div class="back-side">
        <span>Share</span>
        <p>Share your code to other, you just have to remember the userId of the other person to do so. You have
          to be logged in for that.</p>
      </div>
    </div>
    <div class="box" id="practice">
      <div class="front-face">
        <div class="icon"><i class="fa-solid fa-chart-line"></i></div>
        <span>Practice</span>
      </div>
      <div class="back-side">
        <span>Practice</span>
        <p>We also offer you quality questions fetched from the pretigious coding sites as per difficulty level
          (easy,medium and hard)</p>
      </div>
    </div>
  </div>
  </div>
  <br><br><br><br>
  <h1 class="services-header">About me</h1>
  <div class="wrapper-about">
    <div class="image">
      <img src="../ejs/img/profile-photo.jpeg" height="300px">
    </div>
    <div class="about-content">
      <div class="about-text">
        <div class="header">
          <h2 class="header-text">I'm a </h2>
          <p>
            Hello, I am the developer of this site. I am currently pursuing computer science enginerring at Jadavpur
            University (BCSE-25). This website is basically makes your coding daily culture better. You can compile,
            share and also pracitce here, To know more about the tech stack Follow this link <a href="">link</a>
          </p>
        </div>
      </div>
      <div class="logo">
        <a href="https://www.linkedin.com/in/tuhin-saha-6568a2247/" target="_blank"><img src="../ejs/img/linkedin.png"
            height="40px" id="linked-logo"></a>
        <a href="https://github.com/Tsaha11" target="_blank"><img src="../ejs/img/github.png" height="40px"
            id="github-logo"></a>
        <a href="https://codeforces.com/profile/T_saha11" target="_blank"><img src="../ejs/img/codeforces.png"
            height="40px" id="codeforces-logo"></a>
        <a href="https://leetcode.com/tuhin11/" target="_blank"><img src="../ejs/img/leetcode.png" height="40px"
            id="leetcode-logo"></a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <footer class="footer">
    <div class="container-footer">
      <div class="upper-part">
        <div class="about-section">
          <h5 class="headin5_amrc col_white_amrc pt2">About us</h5>
          <!--headin5_amrc-->
          <p class="mb10" style="text-align: left;">
            CodeHub is a code sharing and code compiling website. It also has practice section where you can track your
            progress.
          </p>
          <p style="text-align: left;"><i class="fa fa-location-arrow"></i>Delhi, India</p>
          <p style="text-align: left;"><i class="fa fa-phone"></i> 93XXXXXXXX</p>
          <p style="text-align: left;"><i class="fa fa fa-envelope"></i> XXtuhinXX@gmail.com</p>
        </div>

        <div class="link-section">
          <h5>Quick links</h5>
          <ul class="links-list">
            <li><a href="/home">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li id="aboutMe">About me</li>
            <li><a href="/documentation">Documentation</a></li>
            <li id="services">Services</li>
            <li><a href="/newProject">Next Project Teaser</a></li>
          </ul>
        </div>

        <div class="title-section" id="title-header">
          <h2><a href="/home" class="footer-title">CodeHub</a></h2>
        </div>
      </div>

      <div class="lower-part">
      <p class="text-center" style="color: white;">
        Copyright <i class="fa fa-copyright" aria-hidden="true"></i> | Made by sTuhin saha
      </p>
      </div>
    </div>
  </footer>
</body>
<script src="js/home.js"></script>
<script src="js/footer.js"></script>
</html>