@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cutive&family=Poppins:ital,wght@0,800;1,100;1,900&display=swap');
.navbar{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
}
html,body{
    scroll-behavior: smooth;
    transition: all 2s;
}
.content:hover{
    color: gray;
    text-decoration: none;
}
.content{
    width: 100%;
    height: 100%;
    position: sticky;
    margin-left: 0px;
    background-color: rgb(22, 21, 21);
    display: grid;
    grid-template-columns: 10% 20% 60% 10%;

}
.content label{
    color: white;
}
.logo a{
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
}
.logo a:hover{
    text-decoration: none;
    color: white;
}
.menu-list{
    display: flex;
    padding-left: 40%;
    list-style: none;
}
.menu-list a{
    float: right;
    margin: 10px;
    font-size: 1.6rem;
    text-decoration: none;
    list-style: none;
    color: white;
    list-style: none;
}
.menu-list a:hover{
    color: rgb(124, 118, 118);
    text-decoration: none;
}
.logo,.list,.icon,.signup-login{
    text-align: center;
    margin-top: auto;
    font-size: 1.6rem;
    margin-bottom: auto;
}
.signup-login button{
    height: 60%;
    width: 68%;
    font-size: 1.4rem;
    color: white;
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 4px;
}
.signup-login button:hover{
    cursor: pointer;
    color: rgb(134, 134, 134);
}
/* css for pop up */

.center,.contents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.click-me{
    display: block;
    width: 160px;
    height: 50px;
    background: #27ae60;
    border: 1px solid #26a65b;
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    border-radius: 3px;
    cursor: pointer;
}
#click{
    display: none;
}
.click-me:hover{
    background: #219150;
}
.contents{
    width: 400px;
    visibility: hidden;
    height: 350px;
    background: white;
    transition: .5;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 gray;
}
.headerOfPop{
    height: 68px;
    background: #27ae60;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 3px 0 gray;
}
.headerOfPop h2{
    color: white;
    padding-left: 32px;
    font-weight: normal;
}
.fa-times{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #e8f7fc;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.fa-check{
    font-size: 50px;
    color: #27ae60;
    font-weight: bold;
    height: 80px;
    width: 80px;
    border: 1px solid #27ae60;
    text-align: center;
    padding-top: 13px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 30px 0 0 160px;
}
p{
    padding-top: 10px;
    font-size: 19px;
    color: #1a1a1a;
    text-align: center;
}
.line{
    bottom: 60px;
    width: 100%;
    height: 1px;
    background: silver;
}
.close-btn{
    position: absolute;
    bottom: 12px;
    right: 25px;
    border: 1px solid #27ae60;
    border-radius: 3px;
    color: #27ae60;
    padding: 8px 10px;
    font-size: 10px;
    cursor: pointer;
}
.close-btn:hover{
    background: #27ae60;
    color: white;
    transition: .5s;

}
.popclass{
    opacity: 1;
    visibility: visible;
}

/* css for footer */

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 100%;
}
.container-footer{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.upper-part{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-around;
}
.lower-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-section{
    display: flex;
    /* border: 2px solid black; */
    flex-direction: column;
    width: 30%;
    margin-left: 40px;
    justify-content: center;
    height: 30%;
}
.about-section h5{
    font-size: 2rem;
    margin: 3px;
}
.about-section p{
    margin: 3px;
    color: white;
}
.link-section{
    width: 20%;
}
.link-section h5{
    font-size: 2rem;
    margin: 3px;
}
.link-section p{
    margin: 3px;
    color: white;
}
footer a{
    text-decoration: none;
    color: rgb(4, 4, 4)
}
.link-section ul li{
    margin: 6px;
    font-size: 1.2rem;
}
.title-section{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.title-section h2{
    font-size: 4.2rem;
    color: white;
}
.lower-part .page-links{
    text-align: center;
    list-style: none;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}
.page-links li{
    margin: 6px;
}
.link-section ul{
    list-style: none;
}
.links-list li a{
    color: rgb(142, 141, 141);
}
#title-header h2 a{
    color: rgb(177, 174, 174);
}
#title-header a:hover{
    color: white;
    
}
.links-list a:hover{
    color: white;
}
#aboutMe,#services{
    color: rgb(142, 141, 141);
}
#aboutMe:hover,#services:hover{
    cursor: pointer;
    color: white;
}
#disable-screen{
    display: none;
    visibility: hidden;
}
@media (max-width:1150px){
    #disable-screen{
        display: block;
        visibility: visible;
    }
    :not(#disable-screen){
        visibility: hidden;
    }
}   
