<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/login-signup/css/login.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left"><img src="/login-signup/img/login-img.jpeg" width="100%" height="100%"></div>
			<div class="right">
				<h2>Login</h2>
				<form method="POST" action="/login">
                <span>Enter Your Email</span>
				<input type="text" class="field" placeholder="Your Email" name="email">
                <span>Password</span>
				<input type="text" class="field" placeholder="Password" name="password">
				<%if(error){%>
					<div style="color:rgb(253, 5, 5)"><%=error%></div>
				<%}%>
				<button class="btn">Login</button>
				<br><br><br>
				<div id="switch-to-login">Don't have account ? <a href="/signup">Sign up</a></div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>